@text-color: #000000;
@text-color-add: #ffffff;
@bg-color: #ffffff;

@tablet-width: ~"(min-width: 768px)";
@desktop-width: ~"(min-width: 1200px)";

@menu-text-color: #ffffff;
@menu-bg-color: #81b3d2;
@menu-font-size: 18px;
@menu-line-height: 40px;

@font-size: 18px;
@font-size-add: 14px;
@line-height: 26px;

@bg-color-add-first: #81b3d2;
@bg-color-add-second: #eeeeee;
