.features {
  margin-bottom: 30px;
}
.features__title {
	margin: 0;
	padding: 0 10%;
	margin-bottom: 30px;
	text-align: center;
	font-size: @font-size-add;
	font-weight: normal;
	line-height: @line-height;	
	text-transform: uppercase;
}
.features__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 45px;
	text-align: center;
	&--town {
		padding-top: 60px;		
	}
	&--bridge {
		padding-top: 45px;
	}
	&--bg-blue {
		background-color: @bg-color-add-first;
		color: @text-color-add;
	}
}
.features__item-title {
	margin-bottom: 20px;
	padding: 0 10%;
	font-size: @font-size;
	line-height: @line-height;
	font-weight: normal;
}
.features__item-number {
	padding: 0 10%;
}
.features__item-description {
	padding: 0 10%;
}
.features__picture img {
	display: block;
	margin: 0 auto;
}
@media @tablet-width {
	.features__row {
		display: flex;
	}
	.features__item {
		width: 33%;
	}
	.features__picture {
		margin: 0;
	}
}