.feature {
	display: flex;
	flex-direction: column;
	padding-left: 6%;
	padding-right: 6%;
	padding-top: 40px;
	padding-bottom: 40px;
	text-transform: uppercase;
	&--town {
		padding-top: 60px;
	}	
	&--bg-blue {
		background-color: @bg-color-first;
		color: @text-color-first;
	} 
	&--bg-grey {
		position: relative;
		padding-top: 30px;
		padding-bottom: 30px;
		background-color: @bg-color-second;
		color: @text-color;
	}
	&--underline {
	  &::after {
			content: "";
			position: absolute;
			height: 1px;
			bottom: 0;
			left: 6%;
			right: 6%;
			background-color: @color-underline;			
		}		
	}
}
.feature__title {
	margin-bottom: 15px;
	font-size: @font-size;
	font-weight: bold;
}
.feature__title br {
	display: none;
}
.feature__number {
  margin-bottom: 18px;
	font-size: @font-size-first;
	line-height: @line-height-first;	
}
.feature__description {
	margin: 0; 
	padding: 0;
	font-size: @font-size-first;
	line-height: @line-height-first;	
	&--gb-grey {
		color: @text-color-second;
		background-color: @bg-color-second;
	}
}
@media @tablet-width {
	.feature {
		width: 33.3%;
		padding-left: 0;
		padding-right: 0;
		padding-top: 47px;
		padding-bottom: 44px;		
		&--town{
			
			&::after {
				display: none;
			}
	  }
		&--invert {
			order: 1;
			//margin-left: auto;
		}
		&--underline {
			&::after {
				display: none;
			}
		}
		&---bg-grey {
			
		}
	}
	.feature__title {
		font-size: @font-size-second;
		line-height: @line-height;
		&--bg-blue {
		  padding-left: 14%;
		  padding-right: 14%;
		}
		&--bg-grey {
			padding-left: 23%;
		  padding-right: 23%;
		}		
	}
	.feature__title br {
	  display: block;
}
	.feature__number {
		 padding-left: 8%;
		 padding-right: 8%;
		&--bg-gray {
		  margin-top: auto;
		}
	}
	.feature__description {
		&--bg-blue {
		  padding-left: 17%;
		  padding-right: 17%;
		}
		&--bg-grey {
			flex-shrink: 1;
			margin-top: auto;
			padding-left: 20%;
			padding-right: 20%;
		}
	}
}
@media @desktop-width {
	.feature {
		&--bg-blue {
			padding-top: 55px;
			padding-bottom: 59px;
		}
		&--bg-grey {
			padding-bottom:69px; 
		}
	}
	.feature__title {
		&--bg-blue {
			padding-left: 30%;
			padding-right: 30%;
		}
	}
	.feature__description {
		&--bg-blue {
			padding-left: 21%;
			padding-right: 21%;
		}
  }
}