.page-footer {
	margin-top: 40px;
	padding-left: 6%;
	padding-right: 6%;
	padding-bottom: 20px;
	text-align: center;	
}
.page-footer__link {
	display: block;
	color: @text-color;
	background-color: @bg-color;
	text-transform: uppercase;
	text-decoration: none;
	&--instagram {
		margin-bottom: 40px;
		font-size: @font-size-second; 
	  line-height: @line-height;
	  font-weight: bold;
	}
	&--copyright {
		display: flex;
	  align-items: center;
	  justify-content: center;
		font-size: @font-size-first; 
	  line-height: @line-height;
	}
}
.page-footer__copyright-icon {
  width: 27px;
	height: 34px;
}
.page-footer__copyright-title {
	margin-right: 10px;
}
.page-footer__link--copyright:hover .page-footer__copyright-icon {
	fill: @bg-color-first;
}
.page-footer__link--copyright:active .page-footer__copyright-icon {
	fill: @bg-clor-hover-academy-icon;
}