.review {	
  color: @text-color;
  background-color: @bg-color;
}
.review__header {
  padding-top: 44px;
  padding-bottom: 20px;
  text-transform: uppercase;
  text-align: center;	
  border-bottom: 1px solid @color-line;
}
.review__title {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  font-size: @font-size;
  line-height: @line-height;
}
.review__text {
  margin: 0;
  padding: 0 6%;
  font-size: @font-size-first;
  line-height: @line-height-third;
  color: @text-color-second;
  background-color: @bg-color;
}
.review__row {
  padding: 0 6%;
}
.review__comment {
  display: none;
}
@media @tablet-width {
  .review {
    padding: 0 7.8%;
    //width: 100%;
    box-sizing: border-box;
  }
  .review--wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .review__header {
    padding-top: 76px;
    padding-bottom: 80px;
    border: none;
  }
  .review__title {
    margin-bottom: 35px;
    font-size: @font-size-third;
    line-height: @line-height-fourth;
  }
  .review__text {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media @desktop-width {
	.review__header {
	  padding-top: 114px;
	  padding-bottom: 65px;
	}
	.review__text {
    padding-left: 31%;
    padding-right: 31%;
  }
}