.review {	
  color: @text-color;
	background-color: @bg-color;
}
.review__header {
	padding-top: 44px;
	padding-bottom: 20px;
	text-transform: uppercase;
	text-align: center;	
	border-bottom: 1px solid @color-line;
}
.review__title {
	display: block;
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	font-size: @font-size;
	line-height: @line-height;
}
.review__text {
	margin: 0;
	padding: 0 6%;
	font-size: @font-size-first;
	line-height: @line-height-third;
	color: @text-color-second;
	background-color: @bg-color;
}
.review__item {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
	padding-bottom: 25px;
	border: none;
	border-bottom: 1px solid @color-line;
	&--impression {
		padding-bottom: 47px;
	}
	&--sight {
		padding-bottom: 44px;
	}
	&--message {
		padding: 0 6%;
		border: none;
		margin-bottom: 50px;
	}
}
.review__item-title {
	display: block;
	margin-top: 20px;
	margin-bottom: 24px;
	font-size: @font-size;
	line-height: @line-height;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	&--impression {
		margin-bottom: 45px;
	}
}
.review__item-field {
	display: flex;
	align-items: center;
	margin: 0 6%;
	margin-bottom: 20px;
	&:last-0f-type {
			margin-bottom: 0;
	}
	&--contacts {
		position: relative;
		flex-direction: column;
		margin-bottom: 15px;
		&:last-0f-type {
			margin-bottom: 0;
		}
		&::before {
			position: absolute;
			content: "";
			width: 60px;
			height: 61px;
			bottom: 0;
			right: 0;
			background-color:@bg-color-sixth;
			background-repeat: no-repeat;
			background-position: center;
		}	
	}
	&--phone {
		&::before {
		  background-image: url("../img/icon-phone.svg");			
		}
	}
	&--email { 
		&::before {
			background-image: url("../img/icon-mail.svg");	
		}
	}
  &--impression {
		margin-bottom: 63px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	&--sight {
		margin-bottom: 63px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
.review__item-label  {
	flex-shrink: 0;
	font-size: @font-size-first;
	line-height: @line-height;
	color: @text-color-second;	
	&--introduce {
	  padding-right: 12px;
		text-transform: uppercase;
	}
	&--contacts {
		margin-bottom: 10px;
		text-transform: uppercase;
	}
	&--custom {
		position: relative;
		padding-left: 80px;
		font-size: @font-size;
		line-height: @line-height;
		font-weight: bold;
	}
	&--impression {
		&::before {
			position: absolute;
			content: "";
			left: 0;
			top: -13px;
			width: 55px;
			height: 55px;
			border-radius: 50%;
			background-color: @bg-color-fourth;
		}
		&::after {
			display: none;
			position: absolute;
			content: "";
			width: 22px;
			height: 22px;
			left: 17px;
			top: 3px;
			border-radius: 50%;
			background-color: @bg-color-fifth;
		}
	}
	&--sight {
		&::before {
			position: absolute;
			content: "";
			left: 0;
			top: -12px;
			width: 56px;
			height: 56px;
			background-color: @bg-color-fourth;
			border-radius: 4px;
		}
		&::after {
			display: none;
			position: absolute;
			content: "";
			width: 26px;
			height: 18px;
			top: 9px;
			left: 18px;
			background-image: url("../img/icon-tick.svg");
			background-repeat: no-repeat;			
		}
	}
}
.review__item-input {
	padding: 22px 20px;
	box-sizing: border-box;
	border: none;
	background-color: @bg-color-fourth;
  &[type="text"] {
		min-width: 190px;
	  flex-grow: 1;  
	}
	&[type="tel"] {
		width: 100%;
		padding-right: 58px;
	}
	&[type="email"] {
		width: 100%;
		padding-right: 58px;
	}
	&[type="radio"] {
		display: none;
	}
	&[type="checkbox"] {
		display: none;
	}
	&::placeholder {
		font-size: @font-size;
		line-height: @line-height;
		font-weight: bold;
		color: @text-color;
	}
}
.review__item-input[type="radio"]:checked ~ .review__item-label--impression::after {
	display: block;
}
.review__item-input[type="checkbox"]:checked ~ .review__item-label--sight::after{
	display: block;
}
.review__item-message {
	width: 100%;
	height: 160px;
	padding: 20px;
	box-sizing: border-box;
	resize: none;
	border: none;
	background-color: @bg-color-fourth;
}
.review__item-message::placeholder {
	font-size: @font-size;
	line-height: @line-height;
	font-weight: bold;
	color: @text-color;
}
.review__row {
	padding: 0 6%;
}
.review__comment {
	display: none;
}
@media @tablet-width {
	.review {
		padding: 0 7.8%;
	}
	.review__header {
		padding-top: 75px;
		padding-bottom: 80px;
		border: none;
	}
	.review__title {
		margin-bottom: 35px;
		font-size: @font-size-third;
		line-height: @line-height-fourth;
	}
	.review__text {
		padding: 0 14%;
	}
	.review--wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.review__item {
		border: none;
		&--introduce {
			width: 50%;
			order: -1;
		}
		&--contacts {
		  width: 100%;
		}
		&--impression {
			width: 50%;
			order: -2;
		}
		&--sight {
			width: 100%;
		}
		&--message {
			width: 100%;
		}
	}	
	.review__item-title {
		margin-top: 0;
		margin-bottom: 83px;
		text-align: left;
		font-size: @font-size-second;
		
	}
	.review__item-field {
		margin-left: 0;
		margin-right: 0;
	}
}


