.social-link {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 46px;
	height: 48px;
	margin-right: 2%;
	margin-bottom:2px;
	background-color: @bg-color-first;
	//background-position: center;
	//background-repeat: no-repeat;
	font-size: 0;	
	transition-duration: 0.3s;
	&:nth-of-type(3n) {
		margin-right: 0;
	}
	/*&--Twitter {
		background-image: url("../img/icon-twitter.svg");		
	}
	&--Facebook {
		background-image: url("../img/icon-facebook.svg");
	}
	&--Youtube {
		background-image: url("../img/icon-youtube.svg");
	} */
	&:hover {
		background-color: @bg-color-hover-link;
	}
	&:active {
		background-color: @bg-color-active-link;
	}
}
.social__icon {
	transition-duration: 0.2s;
}
.social:active social-link__icon {	
	fill: rgba(255,255,255, 0.3);
}